data/data_processed_TIDE/
data/PanCancer/
data/Inter-cellular_networks_Maisa/
data/RNAdata_Maisa/
data/raw_data_tcga/
data/Validation/
data/list_genes_IS_CYT.Rdata
R/Lung_different_biopsies.zip
R/Lung_different_biopsies
output/
analysis/pre-processing/TCGA_samples_available_screening_with_quanTIseq_IS.RData
analysis/pre-processing/TCGA_samples_available_screening_with_quanTIseq_IS_prot.RData
analysis/pre-processing/TCGA_samples_available_screening_with_quanTIseq_IS_Spat.RData